// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';



body{
    background-color: var(--background);
    color: var(--text);
}

navbar{
    background-color: var(--navbar);
    box-shadow: 0 5px 10px 0 rgba(204, 204, 204, 0.3);
    a{
        color: #ffff;
    }
}